---
title: Game Details
navid: games
---


<table class='table table-hover'>
  <tr>
    <th colspan='2'><h3><%= game.title %></h3></th>
  </tr>
  <tr>
    <th colspan='2'><%= game.description  %></th>
  </tr>
  <tr class='data-row'>
    <th>GM</th><td><%= game.gm %></td>
  </tr>
  <tr class='data-row'>
    <th>GM contact</th><td><%= game.contact %></td>
  </tr>
  <tr class='data-row'>
    <th>Max spots</th><td><%= game.max_spots %></td>
  </tr>
  <tr class='data-row'>
    <th>Age range</th><td><%= game.age_range %></td>
  </tr>
  <tr class='data-row'>
    <th>Minimum Donation</th><td><%= game.min_donation %></td>
  </tr>
  <tr class='data-row'>
    <th>Game System</th><td><%= game.game_system %></td>
  </tr>
  <tr class='data-row'>
    <th>Platform</th><td><%= game.platform %></td>
  </tr>
  <tr class='data-row'>
    <th>Attendee List</th>
    <td><%= partial :attendees, locals: { attendees: game.attendees } %></td>
  </tr>
</table>
